@font-face {
    font-family: poppinsfont;
    src: url("../font/Poppins-Medium.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: poppinsfont;
}
.center{
    text-align: center;
}
/* main section */
.main{
    width: 100%;
    height: 100vh;
    background: url("../images/bg1.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}
.main nav{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px 20px 150px;
}
.main nav p a{
    font-size: 28px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.main nav ul{
    display: flex;
    list-style-type: none;
}
.main nav ul li{
    margin: 0 10px;
}
.main nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: border-bottom 0.1s linear;
}
.main nav ul li a:hover{
    border-bottom: 1px solid white;
}

.mainContent{
    padding: 150px 0 0 150px;
}
.mainContent h1{
    font-size: 45px;
    margin-bottom: 5px;
}
.mainContent p{
    color: rgba(255, 255, 255, 0.7);
}
button{
    width: 120px;
    padding: 10px 20px;
    margin: 20px 10px 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    font-family: poppinsfont;
    font-weight: bold;
}
.mainContent button:nth-child(1){
    background-color: #FFE172;
    color: black;
}
.mainContent button:nth-child(1):hover{
    background-color: #ffd43a;
}
.mainContent button:nth-child(2){
    background-color: #61497B;
    color: white;
}
.mainContent button:nth-child(2):hover{
    background-color: #5c3783;
}


/* welcome */
.welcome{
    padding: 50px 100px 50px 150px;
    background-color: rgb(250, 249, 249);
}
.welcome .top{
    padding: 50px 0;
    display: flex;
    width: 100%;
}
.welcome .top .right, .welcome .top .left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2;
    color: rgb(11, 88, 212);
    font-size: 18px;
}
.welcome .top .right img{
    width: 150px;
    height: 150px;
    opacity: 0.5;
}
.welcome .bottom{
    display: flex;
    width: 100%;
    /* border: 1px solid black; */
    justify-content: space-between;
}
.welcome .bottom .box{
    /* border: 1px solid rgb(235, 21, 21); */
    width: 25%;
    height: auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.bottom i{
    font-size: 25px;
    background-color: #61497B;
    border-radius: 50%;
    padding: 10px;
    color: white;
}
.bottom h3{
    color: #61497B;
    margin: 10px 0;
}
.bottom p{
    color: #977fb1;
}
.bottom button{
    background-color: #FFE172;
}
.bottom button:hover{
    background-color: #ffd43a;
}

/* projects */
.projects{
    padding: 20px 150px 50px 150px;
}
.projects .pblock{
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.project{
    border-radius: 10px;
    /* border: 1px solid black; */
    width: 24%;
    height: 80vh;
    background-color: #f5f5f5;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 1px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.project:nth-child(2){
    background-color: #FFE172;
}
.projectText .blue{
    background-color: #61497B;
    color: white;
}
.project img{
    width: 100%;
    height: 60%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.project .projectText{
    padding: 30px;
}
.project .projectText p{
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
}
.project button{
    position: absolute;
    left: 50%;
    bottom: -6%;
    transform: translateX(-50%);
    /* background-color: #61497B; */
    background-color: #FFE172;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 1px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

/* pricing */
.pricing{
    background-color: rgb(250, 249, 249);
    padding: 80px 100px 50px 150px;
}
.pricing .plans{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.pricing .plans .plan{
    margin: 0 30px;
    padding-right: 10px;
    border-right: 2px solid rgb(100, 21, 21);
}
.pricing .plans .plan:nth-child(3){
    border: none;
}
.pricing .plans .plan button{
    background-color: #FFE172;;
}
#b{
    background-color: #61497B;
    color: white;
}
.price{
    color: rgb(235, 151, 41);
}

/* video projects  */
.videoProjects{
    background-color: #61497B;
    padding: 50px 0 100px 0;
    width: 100%;
}
.videoProjects h1{
    color: white;
}
.videoProjects .videos{
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.videoProjects .videos .video:nth-child(2){
    transform: scale(1.2);
}
/* team */
.team{
    padding: 50px 100px 50px 150px;
}
.team .members{
    width: 60%;
    margin-top: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.team .members .member{
    width: 30%;
    margin: 20px 10px;
    text-align: center;
}
.team .members .member img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
}
.team .members .member p{
    color: rgba(50, 50, 93, 0.4);
}
.team .members .member img::after{
    content: "t g f";
    width: 200px;
    height: 200px;
    background-color: slateblue;
}

/* life */
.life{
    padding: 50px 100px 50px 100px; 
    position: relative;  
    background-color: rgb(250, 249, 249);
}
.life .image{
    margin-top: 30px;
    width: 550px;
    height: 300px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* border: 1px solid black; */
}
.life .image img{
    width: 100%;
    height: 100%;
}
.life .images{
    margin-top: 20px;
    width: 600px;
    height: 60px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}
.life .images .smallImages{
    height: 100%;
    width: 85%;
    display: flex;
    justify-content: space-between;
}
.life .images .smallImages img{
    height: 50px;
    width: 90px;
    cursor: pointer;
}
.life .leftArrow, .life .rightArrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    background-color: #8A897D;
    color: white;
}

/* news Letter  */
.newsLetter{
    padding: 70px 100px 100px 100px; 
    background: url("../images/bridgeNew.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
}
.newsLetter h1{
    color: white;
}
.newsLetter .form{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.newsLetter .form .input input[type="email"]{
    padding: 12px 10px;
    border: none;
    outline: none;
    width: 300px;
}
.newsLetter .form .input button{
    padding: 10px;
    border: none;
    outline: none;
    background-color: #FFE172;
}

/* blog */
.blog{
    background-color: rgb(250, 249, 249);
    padding: 50px 100px 50px 100px; 
}
.blog .posts{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
.blog .post{
    padding: 10px;
    /* border: 1px solid black; */
}
.blog .blogText{
    padding: 0 25px;
    margin: 10px 0;
    text-align: start;
}
.blog .post .date{
    color: rgba(50, 50, 93, 0.4);
}
.blog .post img{
    border-radius: 10px;
}
.blog .post button{
    background-color: #FFE172;
}